body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position:relative;
    text-align:center;
    color:white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
}

.box{
    width: 40vh;
    height: 20vh;
    background: blue;
    border-radius: 20px;
    color: white;
    text-shadow: black 1px 1px 5px;
    box-shadow: black 0px 0px 20px;
}

.message{
    background-color: #000000bb;
    font-size: 5vw;
    margin: 5px;
    opacity: 1;
    transition: opacity 0.5s;
}

.message.fade{
    opacity:0;
}

.playerList{
    margin: 10px;
    border: solid;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: rgba(21, 76, 255, 0.8);
    border-radius: 10px;
    height: 100px;
}

.playerElement{
    flex:1 1 auto;
    margin:5px;
}

@media only screen and (orientation: portrait){
    .box{
        width:40vw;
        height:20vw;
    }
    .centered{
        font-size:5vw;
    }
}






header{
    overflow: hidden;
    /* background-color: rgba(23, 125, 255, 0.7); */
    background-color: rgba(34, 34, 34, 0.7);
    /* padding: 20px 10px; */
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
  } 
  
  .topRight{
    margin: auto 0;
    text-align: right;
  }
  
  .topLeft{
    margin: auto 0;
    text-align: left;
  }
  
  .navMenu{
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0,0, 0);
    font-size: 30px;
    color: white;
  }
  
  .topRight img{
    padding: 0;
    text-align: center;
  
    width: 40px;
    
  }
  
  img {
    padding: 4%;
    width: 200px;
  }
  
  header > * {
    flex: 1;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
  }
  
  .navMenu{
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
    transition: 500ms;
    filter: invert();
  }
  .navMenu img{
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navMenu:hover{
    transform: rotate(90deg);
    /* filter: none; */
  }
  
  .home{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    margin-left: 0.2em;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .home:hover{
    background-color: #ddd;
    color: black;
  }






body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    overflow: hidden;
    background-color: #4E96F1;
    padding: 20px 10px;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
} 
header > * {
    flex: 1;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}
.centerDiv{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    padding: 0;
  }
  .centerDiv img{
    width:10vh;
  }

.topRight{
    margin: auto 0;
    text-align: right;
}

.navMenu{
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0,0, 0);
    font-size: 30px;
    color: white;
}

.sidebar{
    transition: 0.4s;
    right: -1px;
    top: 0;
    height: 100%;
    width: 0;
    position: fixed !important;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(34, 34, 34, 0.9) !important;
    color: white;
    box-shadow: #000 0 0 10px;
    border-right: 1px solid #ccc;
    font-size: 20px;
  }

.w3-bar-block .w3-bar-item{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    background-color: #0000;
}

.w3-btn, .w3-button{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: rgb(206, 206, 206);
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .w3-button:hover {
    color:#000 !important;
    background-color: #ccc !important;
  }
  
  .sidebar p{
    color: white;
    cursor: default;
  }

.closebtn{
    text-align: right;
}