p{
    color: white;
}

body{
    background-color: rgb(29, 29, 29);
}

.mainGame{
    /* border: white solid; */
    grid-column-start: 2;
    grid-column-end: 3;
}
.mainGame div{
    margin: auto;
    text-align: center;
    color: white;
}

h1{
    color: white;
    text-align: center;
    margin: 0;
}

canvas{
    padding: 0;
    margin: auto;
    display: block;
    border: black solid 5px;
    border-radius: 5px;
}

.gameControlls{
    border: dotted white;
    background-color: #008B61;
    height: 100%;
    transition: 300ms ease-in-out;
    left: 0;
    transform: translate(-200vw,0);
}

#cog{
    width: 3vw;
    height: 3vw;
    transition: 100ms;
}

#cog:hover{
    transform: rotate(50deg);
}

.gameControlls > *{
    
}



body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header{
    overflow: hidden;
    background-color: #424242;
    padding: 20px 10px;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
} 
header > * {
    flex: 1;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}
.centerDiv{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    border-style: solid;
    border-radius: 4px;
}

.topRight{
    margin: auto 0;
    text-align: right;
}

.navMenu:hover{
    color: black;
    background-color: white;
}

.navMenu{
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0,0, 0);
    font-size: 30px;
    color: white;
    transition: 500ms;
    filter: invert();
}
.navMenu img{
    width: 3vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navMenu:hover{
    transform: rotate(180deg);
    filter: none;
}

.sidebar{
    transition: 0.4s;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: #fffffff5 !important;
    color: black;
    box-shadow: #000 0 0 10px;
    border-right: 1px solid #ccc;
}

.w3-bar-block .w3-bar-item{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    background-color: #0000;
}

.w3-btn, .w3-button{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #424242;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}

.sidebar p{
    color: black;
    cursor: default;
}

.closebtn{
    text-align: right;
}