.centerDiv{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    padding: 0;
}
.centerDiv img{
    width:10vh;
}
.topRight{
    margin: auto 0;
    text-align: right;
}
.navMenu:hover{
    color: black;
    background-color: white;
}

.navMenu{
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0,0, 0);
    font-size: 30px;
    color: white;
}
.navMenu:hover{
    color: black;
    background-color: white;
  }
  
  .navMenu{
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0,0, 0);
    font-size: 30px;
    color: white;
    transition: 500ms;
    filter: invert();
  }
  .navMenu img{
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navMenu:hover{
    transform: rotate(90deg);
    background-color: rgba(0, 0,0, 0);
    /* filter: none; */
  }

  .invert{
      filter:invert()
  }
  body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d0d0d0;

    display: flex;
  flex-direction: column;
}
  header{
    overflow: hidden;
    /* background-color: rgba(23, 125, 255, 0.7); */
    /* background-image: linear-gradient(180deg,rgb(0, 153, 255),rgb(39, 115, 202)95%); */
    background-image: linear-gradient(0,#4274ff,#57c1ff);
    /* padding: 20px 10px; */
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
} 
  header > * {
    flex: 1;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}